
#experience{
    padding: 30px 0;
}

.sub-title{
    
    font-size: 50px;
    margin-top: 5px;
    margin-left: 250px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.erfahrung2-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 100px;
    margin-top: 50px;
}
.erf{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.erf img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#262626);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    background: #262626;
    width: 100px;
    height: 65px;
    border-radius: 20%;
    text-align: center;
}

.erf:hover img{
    transform: scale(1.1);
}
.erf:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #fff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 1s;
}
.btn1{
    display: block;
    margin: 10px auto;
    width: fit-content;
    border: 1px solid #fff;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 1s;
    text-align: center;
}

.btn:hover{
    background: #262626;
}

.btn1:hover{
    background: #262626;
}

@media only screen and (min-width: 100px) and (max-width: 932px){
    #experience{
        padding: 30px 0;
    }
    
    .sub-title{
        font-size: 25px;
        margin-top: -5px;
        margin-left: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
    
    .erfahrung2-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 100px;
        margin-top: 50px;
    }
    .erf{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    .erf img{
        width: 100%;
        border-radius: 10px;
        display: block;
        transition: transform 0.5s;
    }
    .layer{
        width: 100%;
        height: 0;
        background: linear-gradient(rgba(0,0,0,0.6),#262626);
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 0px;
        text-align: center;
        font-size: 14px;
        transition: height 0.5s;
    }
    .layer h3{
        font-weight: 500;
        margin-bottom: 20px;
    }
    .layer a{
        margin-top: 10px;
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        background: #262626;
        width: 100px;
        height: 65px;
        border-radius: 20%;
        text-align: center;
    }
    
    .erf:hover img{
        transform: scale(1.1);
    }
    .erf:hover .layer{
        height: 100%;
    }
    .btn{
        display: block;
        margin: 50px auto;
        width: fit-content;
        border: 1px solid #fff;
        padding: 14px 50px;
        border-radius: 6px;
        text-decoration: none;
        color: #fff;
        transition: background 1s;
    }
    .btn1{
        display: block;
        margin: 10px auto;
        width: fit-content;
        border: 1px solid #fff;
        border-radius: 6px;
        text-decoration: none;
        color: #fff;
        transition: background 1s;
        text-align: center;
    }
    
    .btn:hover{
        background: #262626;
    }
    
    .btn1:hover{
        background: #262626;
    }
}